//@import (less) "fonts.less";
@import (less) "../bootstrap/css/bootstrap.css";

@background-dark: #00102c;

@accent: #ffe126 ;
@background-middle-blue: #242648 ;
//@background-dark: #1e1c32 ;

@background: #e3e7ea ;
@font-color-light: #111 ;
@font-color-dark: #fff ;
@font-size: 12pt;
@font-color-link-hover: lighten(@background-dark ,30%);

@smMax: 768px;
@mdMax: 992px;


.makeTransition(@duration){
  transition: all @duration;
  -moz-transition: all @duration;
  -webkit-transition: all @duration;
}
.makeRotate(@angle){
  -moz-transform: rotate(@angle);
  -ms-transform: rotate(@angle);
  -o-transform: rotate(@angle);
  -webkit-transform: rotate(@angle);
}

*{
  .makeTransition(0.5s)
}

.form-control {
  background: transparent;
  border: #000 solid 1px;
  border-radius: 0;
}
.input-group-text {
  border-radius: 0;
  border: #000 solid 1px;
  color: #000;
  background: transparent;
}

&.custom-checkbox {
  .custom-control-input {
    display: none;
  }
}

.wpcf7-form-control-wrap{
  position: relative;
  display: flex;
  flex-grow: 1;
}
body {
  font-family: 'Poppins', sans-serif;

  background: @background;

  //background: #eee;
  color: @background-dark;
  font-size: @font-size;


  @sm-h1-size: 30px;
  @sm-h2-size: 25px;
  @sm-h3-size: 20px;
  @sm-h4-size: 20px;

  h1 {
    @media (max-width: @smMax) {
      font-size: @sm-h1-size;
    }
  }

  h2 {
    @media (max-width: @smMax) {
      font-size: @sm-h2-size;
    }
  }

  h3 {
    @media (max-width: @smMax) {
      font-size: @sm-h3-size;
    }
  }

  h3 {
    @media (max-width: @smMax) {
      font-size: @sm-h4-size;
    }
  }

  .h1 {
    @media (max-width: @smMax) {
      font-size: @sm-h1-size;
    }
  }

  .h2 {
    @media (max-width: @smMax) {
      font-size: @sm-h2-size;
    }
  }

  .h3 {
    @media (max-width: @smMax) {
      font-size: @sm-h3-size;
    }
  }

  .h4 {
    @media (max-width: @smMax) {
      font-size: @sm-h4-size;
    }
  }

  .logo {
    svg {

      .logo-fill-white {
        fill: #fff;
      }

      .logo-fill-accent {
        fill: @accent;
      }
    }
  }

  .btn {
    border-radius: 0;

    i {
      margin-right: 10px;
    }
  }

  a {
    &.btn {
      text-decoration: none;
    }
  }

  .alert {
    &.alert-success {
      color: #fff;
      background-color: #1e1c3288;
    }

    border-radius: 0;
    border: none transparent 0px;
  }

  a {
    color: @font-color-light;
    text-decoration: underline;

    &:hover {
      color: @font-color-link-hover;
    }
  }

  h1, .h1, h2, .h2, h3, .h3 {

    //text-transform: uppercase;
    font-weight: 900;

    a {
      text-decoration: none;
    }


  }

  header{
    padding: 48px 0;
    height: 60vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;


    &:after{
      z-index: 1;
      content: "";
      display: block;
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(fade(@background-dark, 00%), @background-dark);
    }
    h1,h2,h3,h4,h5{
      color: #fff
    }

      .logo{
        svg{
          height: 100px;
        }

      }

    .container{
      z-index: 2;
      position: relative;
    }


  }
  section{
    margin: 0 48px;
  }
  .upcoming-concerts{
    .concert-image{
      display: flex;
      color: #fff;
      width: 100%;
      height: 30%;
    }
  }
  .slider{
    width: 100%;
    overflow: hidden;
  }
}