//@import (less) "fonts.less";
@import (less) "../bootstrap/css/bootstrap.css";

@background-dark: #00102c;

@accent: #ffe126 ;
@background: lighten(@background-dark,85%) ;
@font-color-light: #111 ;
@font-color-dark: #fff ;
@font-size: 12pt;
@font-color-link-hover: lighten(@background-dark ,30%);
@font-color-link-hover-dark: lighten(@background-dark ,70%);


@smMax: 768px;
@mdMax: 992px;


.makeTransitionT(@target, @duration){
  transition: @target @duration;
  -moz-transition: @target @duration;
  -webkit-transition: @target @duration;
}
.makeTransition(@duration){
  .makeTransitionT(all, @duration)
}
.makeRotate(@angle){
  -moz-transform: rotate(@angle);
  -ms-transform: rotate(@angle);
  -o-transform: rotate(@angle);
  -webkit-transform: rotate(@angle);
}

*{
  .makeTransitionT(color,0.5s)
}

.form-control {
  background: transparent;
  border: #000 solid 1px;
  border-radius: 0;
}
.input-group-text {
  border-radius: 0;
  border: #000 solid 1px;
  color: #000;
  background: transparent;
}

&.custom-checkbox {
  .custom-control-input {
    display: none;
  }
}

.wpcf7-form-control-wrap{
  position: relative;
  display: flex;
  flex-grow: 1;
}
body {
  font-family: 'Poppins', sans-serif;

  text-align: justify;
  background: @background;

  //background: #eee;
  color: @background-dark;
  font-size: @font-size;


  @sm-h1-size: 30px;
  @sm-h2-size: 25px;
  @sm-h3-size: 20px;
  @sm-h4-size: 20px;

  h1 {
    @media (max-width: @smMax) {
      font-size: @sm-h1-size;
    }
  }

  h2 {
    @media (max-width: @smMax) {
      font-size: @sm-h2-size;
    }
  }

  h3 {
    @media (max-width: @smMax) {
      font-size: @sm-h3-size;
    }
  }

  h3 {
    @media (max-width: @smMax) {
      font-size: @sm-h4-size;
    }
  }

  .h1 {
    @media (max-width: @smMax) {
      font-size: @sm-h1-size;
    }
  }

  .h2 {
    @media (max-width: @smMax) {
      font-size: @sm-h2-size;
    }
  }

  .h3 {
    @media (max-width: @smMax) {
      font-size: @sm-h3-size;
    }
  }

  .h4 {
    @media (max-width: @smMax) {
      font-size: @sm-h4-size;
    }
  }

  h1,h2,h3,h4,h5, .h1, .h2, .h3, .h4, .h5 {
    text-justify: none;
  }
  .logo {
    svg {

      .logo-fill-white {
        fill: #fff;
      }

      .logo-fill-accent {
        fill: @accent;
      }
    }
  }

  .btn {
    border-radius: 0;

    i {
      margin-right: 10px;
    }
  }

  a {
    &.btn {
      text-decoration: none;
    }
  }

  .alert {
    &.alert-success {
      color: #fff;
      background-color: #1e1c3288;
    }

    border-radius: 0;
    border: none transparent 0px;
  }

  a {
    color: @font-color-light;
    text-decoration: underline;

    &:hover {
      color: @font-color-link-hover;
    }
  }

  h1, .h1, h2, .h2, h3, .h3 {

    //text-transform: uppercase;
    font-weight: 900;

    a {
      text-decoration: none;
    }


  }
  nav{
    ul{
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;
      li{
        &:hover{
          a{
            text-decoration: none;
            color: @font-color-link-hover-dark;
          }
        }

        display: flex;
        a{
          display: flex;
          flex-direction: row;
          align-items: center;
          text-decoration: none;
          color: @font-color-dark;
          line-height: 48px;
          padding:  0 16px;
          i{
            line-height: 48px;
            font-size: 32px;
            margin-right: 8px;
          }
          &:hover{
            text-decoration: none;
            color: @font-color-link-hover-dark;
          }

        }

      }
      :first-child{
        a{
          padding-left: 0;
        }
      }
      :last-child{
        a{
          padding-right: 0;
        }
      }
    }
    @media(max-width: @smMax){

      ul{
        flex-direction: column;
        width: 100%;
        li{
          a{
            width: 100%;
            i{
              width: 48px;
            }
            padding: 0;
          }
        }
      }
    }
  }

  header{
    text-align: left;
    padding: 48px 0;
    height: 90vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;


    &:after{
      z-index: 1;
      content: "";
      display: block;
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(fade(@background-dark, 00%), @background-dark);
    }
    h1,h2,h3,h4,h5{
      color: #fff
    }
    .h1{
      font-size: 64px;
      color: @accent;

      @media(max-width:@mdMax){
        font-size: 48px;
      }
      @media(max-width:@smMax){
        font-size: 48px;
      }
    }

    .container{
      position: relative;
    }
    .logo{
      svg{
        height: 100px;
      }
      @media(max-width: @mdMax){
        svg{
          height:80px;
        }
      }

    }
    .header-row{
      display: flex;
      justify-content: space-between;
      align-items: center;

      z-index: 5  ;
    }
    .headline{
      z-index: 4;
    }


    nav{
      a{
        font-size: 13pt;
      }
      ul{
        li{
          position: relative;
          display: flex;
          flex-direction: column;
          .makeTransition(0.5s);
          &:hover{
            ul{
              display: flex;
              height: auto;
              opacity: 100%;

              a{

                color: @font-color-dark;
              }
            }
          }
          ul{
            overflow: hidden;
            display: flex;
            position: absolute;
            top: 48px;
            flex-direction: column;
            background: fade(@background-dark, 80%);
            height: 0;
            .makeTransition(0.5s);
            opacity: 0;
            :first-child a, :last-child a, a{

              &:hover{
                color: @font-color-link-hover-dark
              }
              min-width: 200px;
              padding-right: 16px;
              padding-left: 16px;

            }
          }
        }
      }
      @media(max-width: @smMax){
        .makeTransition(.5s);
        opacity:0%;
        position: fixed;
        display: flex;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: fade(@background-dark, 95%);
        height: 0;
        overflow: hidden;
        align-items: center;
        ul{
          :first-child a, :last-child a,a{
            padding:0 32px ;
          }
          li{
            position: relative;
            a {

              font-weight: 900;
              font-size: 16pt;
            }

            ul{
              position: relative;
              display: flex;
              height: auto;
              opacity: 100%;
              top: 0;
              background: none ;
              :first-child a, :last-child a,a{
                padding:0 32px ;
                font-size: 13pt;

                font-weight: 500;
              }
            }
          }
        }
      }
    }


    @media(max-width: @smMax){
      .nav-button{
        cursor: pointer;
        .makeTransition(0.5s);
        display: flex;
        width: 48px;
        height: 32px;
        flex-direction: column;
        justify-content: space-between;
        z-index: 10;

        .bar{
          .makeTransition(0.5s);
          content: " ";
          height: 4px;
          width: 100%;
          border-radius: 2px;
          background: @font-color-dark;
          &:hover{
            background: @font-color-link-hover-dark;
          }
        }
      }
    }

    .nav{
      &.active{
        nav{
          height: 100vh;
          opacity: 100%;
        }
        .nav-button{
          height: 8px;
          .bar{
            height: 0;
            opacity: 0;
            &:first-child{
              height: 4px;
              margin-top: 2px;
              opacity: 100%;
                .makeRotate(-45deg)
            }
            &:last-child{
              height: 4px;

              margin-top: -2px;
              opacity: 100%;
                .makeRotate(45deg)
            }
          }


        }
      }
    }

    .concert-header{
      display: flex;
      align-items: center;


      .btn{
        width: 100%;
        box-shadow: 0 0 64px @background-dark;
      }
    }
  }
  section{
    margin: 48px 0;
  }


  .concert-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    p{
      flex-grow: 1;
    }
    a{
      text-decoration: none;
      margin-bottom: 16px;
      .concert-image{
        text-align: left;
        position: relative;
        &:after{
          z-index: 1;
          content: "";
          display: block;
          position: absolute;
          top:0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(fade(@background-dark, 0%), fade(@background-dark, 90%));
        }
        display: flex;
        color: #fff;
        width: 100%;
        height: 100%;
        min-height: 250px;
        flex-direction: column;
        justify-content: end;
        padding: 16px;
        margin-bottom: 16px;
        .concert-title-subtitle, .concert-date{
          z-index: 2;
        }

      }

      &:hover{
        text-decoration: none;
      }
    }
    .btn-group{
      align-self: end;
      width: 100%;
    }
  }


  .news{
    a.post-header {

      text-decoration: none;
      .post-image {
        text-align: left;
        position: relative;
        &:after {
          z-index: 1;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(fade(@background-dark, 0%), fade(@background-dark, 90%));
        }

        display: flex;
        color: #fff;
        width: 100%;

        min-height: 250px;
        flex-direction: column;
        justify-content: end;
        padding: 16px;
        margin-bottom: 16px;

        .post-title, .post-date {
          z-index: 2;
        }

      }

    }
  }

  .recording-item{
    width: 100%;

    a {

      text-decoration: none;
    }
    .recording-img {
      text-align: left;
      position: relative;
      &:after {
        z-index: 1;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(fade(@background-dark, 0%), fade(@background-dark, 90%));
      }

      display: flex;
      color: #fff;
      width: 100%;
      height: 30%;
      min-height: 250px;
      flex-direction: column;
      justify-content: end;
      padding: 16px;
      margin-bottom: 16px;

      .recording-info {
        z-index: 2;
      }
    }
  }
  .recording-player{
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    iframe{
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

  }
  .concert-info{

    .concert-poster{
      margin-bottom: 32px;
    }
    .concert-info--item{
      margin-bottom: 32px;

      ul{
        list-style: none;
        padding: 0;
        a {
          line-height: 32px;
        }
      }
    }

  }

  .newsletter{
    margin-bottom: 0;
    padding: 48px 0;
    background: lighten(@background-dark,80%);
  }
  footer{
    padding: 48px 0;
    background: @background-dark;
    margin-bottom: 0;
    color: @font-color-dark;


    .support-items {
      display: flex;
      width: 100%;
      flex-direction: row;
      .support-item{
        height: 100px;
        img{
          height: 100px;
        }

        margin: 0 16px ;

      }
      :first-child{
        margin-left: 0;
      }
      :last-child{
        margin-right: 0;
      }
      @media(max-width: @smMax){
        flex-direction: column;
        .support-item{
          margin: 16px 0;
        }
      }
    }
    .container{
      :first-child{
        margin-top: 0;
      }
    }
    .row{
      margin-top: 32px;
    }
  }

  .slider{
    width: 100%;
    overflow: hidden;
    .slider-page-holder{
      display: flex;
      .slider-page{
        display: flex;
        .slider-item{
          display: flex;
        }
      }

    }


    .slider-controls{
      margin:10px;
      display: flex;
      align-items: center;


      .slider-controls-holder{
        display: flex;


        .slider-control-bubble{
          display: flex;
          margin: 10px;
          border:solid 1px @font-color-light;
          height: 15px;
          width: 15px;
          border-radius: 15px;
          &.slider-control-bubble-active{
            background: @font-color-light;
            border-color: @font-color-light;
          }
        } //slider-control-bubble-active


      }
    }
  }
  .concerts-home{
    .slider-controls{
      justify-content: center;
    }
  }
  .news{
    .slider{
      .slider-controls{
        .slider-controls-holder{
          .slider-control-bubble{
            border:solid 1px @font-color-light;
            &.slider-control-bubble-active{
              background: @font-color-light;
              border-color: @font-color-light;
            }

          }
        }
      }

    }

  }

  .concert-row{
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-bottom: 32px;
    .concert-thumbnail{
      img{
        width: 100%;
      }
      @media(max-width: @mdMax){
        margin-bottom: 8px;
      }
    }
    .concert-meta--item{
      margin-bottom: 8px
    }
  }
}
